{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}

<div class="well">
   <form class="form-horizontal" action="/changepassword/" method="POST">
      <fieldset>
         <legend>Change password</legend>

         <div class="form-group">
            <label for="inputOldPassword" class="col-lg-2 control-label">Old password</label>
            <div class="col-lg-2">
               <input type="password" class="form-control" name="oldpassword" id="inputUsername" placeholder="Old password" />
            </div>
         </div>

         <div class="form-group">
            <label for="inputNewPassword" class="col-lg-2 control-label">New password</label>
            <div class="col-lg-10">
               <input type="password" class="form-control" name="newpassword" id="inputPassword" placeholder="New password" />
            </div>
         </div>

         <div class="form-group">
            <label for="inputNewPassword_verify" class="col-lg-2 control-label">New password (repeat)</label>
            <div class="col-lg-10">
               <input type="password" class="form-control" name="newpassword_verify" id="inputPassword_verify" placeholder="New password (repeat)" />
            </div>
         </div>

         <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
               <button type="submit" class="btn btn-primary">Change password</button>
            </div>
         </div>

      </fieldset>
   </form>
</div>

{% endblock %}
